<mat-toolbar class="nav">
  <mat-toolbar-row class="nav">
      <button mat-flat-button routerLink="" class="nav"><b>Wrap It UP</b></button>
      <button mat-flat-button [routerLink]="[{ outlets: {body: ['Index'] } }]" >Index</button>
      <button mat-flat-button routerLink="" class="nav">HOME</button>
      <button mat-flat-button routerLink="" class="nav">HOME</button>
      <span class="example-spacer"></span>
      <button mat-flat-button routerLink="" class="nav" (click)="RegisterPopUp()">Register</button>
      <button *ngIf="!UserIn()" mat-flat-button routerLink="" class="nav" (click)="LoginPopUp()">LogIn</button>
    <button *ngIf="UserIn()" mat-flat-button routerLink="" class="nav" (click)="Logout()">LogOut</button>

  </mat-toolbar-row>
</mat-toolbar>
