.nav{
  background-color: #1C1C1C ;
  color: #FFFFFF;
}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .example-button-row button,
  .example-button-row a {
    margin-right: 8px;
  }  