<div class="container">  
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h3 align="center"><b>Team Members</b></h3>
      <div class="row">
        <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="../../assets/img/profile.png" alt="shekhar" style="width:100%">
              
              <div class="card-body">
                <h4 class="card-title"><b>Shekhar Saini</b></h4>
              </div> 
              <div class="card-footer">FrontEnd and BackEnd Developer</div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="../../assets/img/profile1.png" alt="sid" style="width:100%">
              
              <div class="card-body">
                <h4 class="card-title"><b>Sid S</b></h4>
              </div> 
              <div class="card-footer">FrontEnd and BackEnd Developer</div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="../../assets/img/profile2.png" alt="satish" style="width:100%">
              
              <div class="card-body">
                <h4 class="card-title"><b>Satish Mahalik</b></h4>
              </div> 
              <div class="card-footer">Content and Database Developer</div>
            </div>
        </div>

      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>  