<div class="container-cluid">  
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h3 align="center"><b id="team">Team Members</b></h3>
      <br/>
      <div class="row">
        <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="../../assets/img/profile.png" alt="shekhar" style="width:100%">
              <hr/>
              <div class="card-body">
                <h4 class="card-title text-center"><b>Shekhar Saini</b></h4>
              </div> 
              <h4>Develop:</h4>
              <div class="card-footer text-center"><b>FrontEnd</b></div>
              <div class="card-footer text-center"><b>BackEnd</b></div>
              
              <a href="#" class="card-link"><i class="fa fa-github-square" style="font-size:36px"></i></a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="../../assets/img/soft copy .jpg" alt="sid"  style="width:100%">
              <hr/>
              <div class="card-body">
                <h4 class="card-title text-center"><b>Sidharth S</b></h4>
              </div> 
              <h4>Develop:</h4>
              <div class="card-footer text-center"><b>FrontEnd</b></div>
              <div class="card-footer text-center"><b>BackEnd</b></div>
              <a href="#" class="card-link"><i class="fa fa-github-square" style="font-size:36px"></i></a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="../../assets/img/IMG_20190309_105143.jpg" alt="satish" style="width:100%">
              <hr/>
              <div class="card-body">
                <h4 class="card-title text-center"><b>Satish Mahalik</b></h4>
              </div> 
              <h4>Develop:</h4>
              <div class="card-footer text-center"><b>Content</b></div>
              <div class="card-footer text-center"><b>Database</b></div>
              <a href="#" class="card-link"><i class="fa fa-github-square" style="font-size:36px"></i></a>
            </div>
        </div>

      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>  