<div class="row mt-2">
  
  <div class="col-md-2">
    <button type="button" class="btn btn-light"><b>WrapItUp</b></button>
  </div>
  <div class="col-md-2">
    
  </div>
  <div class="col-md-1">
    <label class="switch">
      <input type="checkbox" checked>
      <span class="slider round"></span>Theme
    </label>
  </div>
  <div class="col-md-1">
  </div>

  <div class="col-md-2">
    <app-language></app-language>
  </div>
 
  <div class="col-md-1">
    <app-font-size></app-font-size>
  </div>
  
  <div class="col-md-2">
    <app-register></app-register>  
  </div>
  
  <div class="col-md-1">
    <button type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
  </div>
  
</div>