<div class="page1 container-fluid">

        <div class="row">
            <div class="col-md-4 col-sm-4"></div>
            <div class="col-md-4 col-sm-4" id="front-intro2">Company tag line or intro</div>
            <div class="col-md-4 col-sm-4"></div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" id="front-intro3">Lorem Ipsum is simply dummy text of the
                     printing and typesetting industry. Lorem Ipsum has been the industry's standard
                     dummy text ever since the 1500s, when an unknown printer took a galley of type
                     and scrambled it to make a type specimen book.</div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-2"><a href="#"><button type="button" id="know-more">Know more...</button></a></div>
            <div class="col-sm-5"></div>
        </div>
</div> 
<div class="page2 container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-4"></div>
        <div class="col-md-4 col-sm-4 text-center" id="page-heading"><b>Anouther Heading</b></div>
        <div class="col-md-4 col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8" id="page2-para1">
         
          Lorem Ipsum is simply dummy text of the printing and
             typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
             the 1500s, when an unknown printer took a galley of type and scrambled it to make a type 
             specimen book. It has survived not only five centuries, but also the leap into electronic
             typesetting, remaining essentially unchanged.
        </div>
        <div class="col-sm-2"></div> 
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10"><img src="../../assets/img/dots.png" width="100%;" id="dots-img">
            <div class="row" id="blockchain">
                <div class="col-sm-2"></div>
                <div class="card col-sm-8" style="background-color: #E75A4C">
                    <div class="card-body">
                      <br><br>
                        <div class="card-title text-center"><b>SPECIAL STUFF</b></div><br/>
                        <div class="card-text text-center">Lorem Ipsum is simply dummy text of the printing and 
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever 
                            since the 1500s, when an unknown printer took a galley of type and scrambled it to make 
                            a type specimen book
                        </div>
                        <br/>
                        <div class="col text-center">
                            <a href="" class="col-md-5"></a>
                            <a href="#" class="btn col-md-2" style="color:#484848;background-color: white;border-radius:34px;"><i class="fa fa-link"></i>&nbsp; View more </a>
                            <a href="" class="col-md-5"></a>
                            
                        </div><br/><br/>
                    </div>        
                </div>  
                <div class="col-sm-2"></div>
            </div>
        </div>
    <div class="col-sm-1"></div>
</div>  
</div>
<br>