<div class="container">
    <h2>Login</h2>
    <form action="" [formGroup]="formFields" (ngSubmit)="Register()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email"  formControlName="Email" placeholder="Enter email" name="email" required><span></span>
      </div>
      <div class="form-group">
        <label for="pwd" >Password:</label>
        <input type="password" class="form-control" id="pwd" formControlName="Password" placeholder ="Enter password" name="pswd" required><span></span>
      </div>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember"> Remember me
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div> 
      Not an User Yet, Come and <a href="/register-user">Join Us</a>....

    </div>
  </div>