
  <!-- container 1 Start -->
  <div class="contr1">
    <div class="row pt-5">
      <h2 class="pt-5 offset-1"><b class="companynamecolor">WRAP IT UP</b></h2>
    </div>
    <div class="row pt-2">
      <h6 class="pt-2 offset-1">Who loves a clean house?<br/>
        Have trouble while doing household activities?<br/>
        Not enough time to do household chores?<br/><br/>
        <b>Then,<span class="companynamecolor">"WRAP IT UP"</span> is right place for you!!</b>
      </h6>
    </div>
    <!-- Start Services button -->
    <div class="row pt-5">
      <button class="offset-1 startservicebutton">START YOUR SERVICES</button>
    </div>
    <!-- Scroll Down Mouse -->
    <div class="d-flex justify-content-center mt-3">
      <button class="scrollDown mt-3">
        <div class="scroll-downs ml-4">
          <div class="mousey">
            <div class="scroller"></div>
          </div>
        </div>
        SCROLL DOWN
      </button>
    </div>
  </div>
  <!-- container 1 End -->
  <!-- Container 2 -->
  <div class="contr2">
    <div class="row">
      <div class="col-md-12 text-center">
          <h6 class="contr2Heading">YOUR FREE WRAP IT UP SERVICE MATCHMAKER</h6>
      </div> 
      <div class="row Sm-0 contr2ServiceBox mt-5">
        <div class="col-md-6 pl-0">
          <div class="card">
            <div class="card-header">
                <p class="text-center pt-4">MEET THE BEST HOME SERVICE PROVIDER</p>
                <p class="text-center pt-1 card-headerpara2">We only select general contractors who have gone through our in-depth
                    <span style="color:#FF366D"> vetting process</span> and who have:</p>
            </div>
            <div class="card-body">
                <p class="pl-2"><img src="../../../../assets/right.png" alt="Provide "/> &nbsp; LICENSES AND INSURANCE</p>
                <p class="pl-2"><img src="../../../../assets/right.png" alt="Provide "/> &nbsp; RELEVANT EXPERIENCE</p>
                <p class="pl-2"><img src="../../../../assets/right.png" alt="Provide "/> &nbsp; PROFESSIONAL COMMUNICATION SKILLS</p>
                <p class="pl-2"><img src="../../../../assets/right.png" alt="Provide "/> &nbsp; VERIFIED REVIEWS</p>
            </div> 
          </div>
        </div>
        <div class="col-md-6 pr-0">
          <div class="card">
            <div class="card-header">
                <p class="text-center pt-4">WE PROVIDE REAL SUPPORT</p>
                <p class="text-center pt-1 pb-4 card-headerpara2">We'll help throughout your entire renovation, including:</p>
            </div>
            <div class="card-body">
                <p class="pl-2"><img src="../../../../assets/right.png" alt="Provide "/> &nbsp; LICENSES AND INSURANCE</p>
                <p class="pl-2"><img src="../../../../assets/right.png" alt="Provide "/> &nbsp; RELEVANT EXPERIENCE</p>
                <p class="pl-2"><img src="../../../../assets/right.png" alt="Provide "/> &nbsp; PROFESSIONAL COMMUNICATION SKILLS</p>
                <p class="pl-2"><img src="../../../../assets/right.png" alt="Provide "/> &nbsp; VERIFIED REVIEWS</p>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container 2 End -->


  <!-- <div class="row ml-5 mr-5 mt-3">
    <div class="col-md-6">
      <p><b>WRAP IT UP</b> is a locally-owned and operated cleaning service company.
        We have been providing superior personalized cleaning service and employment in the surrounding area.
      </p>
    </div>
    <div class="col-md-6">  
      <p>
          We pay attention to details! Each staff member of WRAP IT UP is dedicated to performing his or her
          duties in a professional, courteous and meticulous manner. Your satisfaction with our services is
          guaranteed. We are the expertise in this field.
      </p>   
    </div>
  </div>
  <div class="row ml-5 mr-5 mt-3">
    <div class="col-md-12">
      <h5 class="text-center">Why Choose WRAP IT UP?</h5>
      <p class="mt-2">WRAP IT UP is a personalized home and janitorial cleaning service. Our experienced and highly-trained staff
        will beautify your home, office, or place of business with an efficiency and professionalism unmatched
        anywhere. All of our employees are linked with Aadhaar card issued by govt of India, have their Criminal
        Records Checks, and we also carry  1 lakhs in liability insurance; in case of serious malpractice were done
        by our employees.</p>
      <h5 class="text-center">Benefits from our services?</h5>  
      <p class="mt-2">We offer exceptional services for reasonable rates and do the work in time and also provide you with a free estimate,
        which will include our cleaning products and vacuums, before any work begins.</p> 
    </div>
  </div> -->


