.container{
    margin-top: 50px;
    background-color: lightgray;
    border-radius: 50px;
}
#connectUs{line-height: 41px;
    font-size: 30px;
    text-transform: uppercase;
    padding-top:120px;
    color:#9F42E6; } 
#Send{ color:white;
        padding:0px 20px;
        background: #E75A4C;
        border-radius: 27px;
        border-color: #E75A4C;
        margin-bottom:30%;}  
#dotted-map{background-image: url("../../assets/img/dotted-map.png");
            height: auto;
            background-position: center;
            }  
.input{
        border-top:none;
        border-left:none;
        border-right:none;
        }                       